<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout-1 }">

<div layout:fragment="content" align="center">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Carrot Nara</title>
    <script src="https://kit.fontawesome.com/009f152c56.js" crossorigin="anonymous"></script>
    <style>
    html,body,h1,h2,h3,h4,h5,h6,p {font-family: "Roboto", sans-serif;}
    .w3-sidebar {
      z-index: 3;
      width: 250px;
      top: 52px;
      bottom: 0;
      height: inherit;
    }
    .modal-header i{
      min-width: 20px;
    }
    #inquiryForm {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 10px;
    }
    #inquiryForm div {
      margin-bottom: 8px;
    }
    #inquiryForm label {
      width: 70px;
    }
    #inquiryContent{
      vertical-align: top;
    }
    #inquiryForm input, #inquiryForm select, #inquiryForm textarea  {
      flex: 0.4;
    }
    #postCreateForm {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 10px;
    }
    #postCreateForm div {
      margin-bottom: 8px;
    }
    #postCreateForm label {
      vertical-align: top;
      width: 80px;
    }
    #postCreateForm input, #postCreateForm select, #postCreateForm textarea {
      flex: 0.4;
    }
    #postCreateForm input{
      width: 358px;
    }
    </style>
    
</head>
<body>
<!-- 공지사항 sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <h4 class="w3-bar-item"><b>공지사항</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="#" onclick="community(event, '전체공지')">전체공지</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#" onclick="community(event, '자유게시판')">자유게시판</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#" onclick="community(event, 'FAQ')">FAQ</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#" onclick="community(event, '내 문의 내역')">내 문의 내역</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#" onclick="leaveAnInquiry(event)">문의남기기</a>
  <hr style="color: #333; background-color: #333; height: 1px; margin: 20px;"/>
  <a class="w3-bar-item w3-button w3-hover-black" href="#" onclick="writePost(event)">글 작성하기</a>
</nav>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="mainContent w3-main" style="margin-left:250px">
  <h1 class="w3-text-teal" id="boardTitle">전체공지</h1>
  <div class="w3-row w3-padding-64" id="boardContent">
    <div class="w3-twothird w3-container" th:each="list : ${ list }">
      <h3 class="w3-text-teal" th:text="${ list.title }"></h3>
      <p th:text="${ list.content }"></p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar" id="pagination">
      <a class="w3-button w3-hover-black" th:if="${currentPage != 0}" href="#" onclick="prevPage(event)">«</a>
      <a th:class="${currentPage == i ? 'w3-button w3-black' : 'w3-button w3-hover-black'}" th:each="i : ${#numbers.sequence(startPage, endPage)}" 
       th:data-index="${i}" href="#" th:onclick="goToPage(event, this.getAttribute('data-index'));" th:text="${ i + 1 }"></a>
      <a class="w3-button w3-hover-black" th:if="${currentPage != list.totalPages - 1}" href="#" onclick="nextPage(event)">»</a>
    </div>
  </div>
  
  <!-- 문의남기기 모달 -->
        <div class="modal" id ="inquiryModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                     <div class="modal-header">
                         <i class="fa-solid fa-feather-pointed"></i><h5 class="modal-title">&nbsp;문의 남기기</h5>
                         <button type="button" id="inquiryModalCloseBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="inquiryForm" enctype="multipart/form-data" method="post" action="">
                        <div>
                            <label for="inquiryTitle">문의 제목</label>
                            <input type="text" id="inquiryTitle" name="title" required/>
                            <label for="inquiryType">문의 유형</label>
                            <select id="inquiryType" name="type" required>
                                <option value="비매너/불량 유저">비매너/불량 유저</option>
                                <option value="회원 계정">회원 계정</option>
                                <option value="사이트 이용">사이트 이용</option>
                                <option value="프로모션">프로모션 제안</option>
                                <option value="기타">기타</option>
                            </select>
                        </div>
                        <div>
                            <label for="inquiryContent">문의 내용</label>
                            <textarea rows="12" cols="50" id="inquiryContent" name="content" required></textarea>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                         <button type="button" id="leaveBtn" class="w3-button w3-orange w3-round-large w3-hover-blue">문의하기</button>
                    </div>
                 </div>
            </div>
        </div><!-- 문의남기기 모달 END -->
        
  <!-- 글 남기기 모달 -->
        <div class="modal" id ="postModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                     <div class="modal-header">
                         <i class="fa-solid fa-leaf"></i><h5 class="modal-title">&nbsp;글 작성하기</h5>
                         <button type="button" id="postModalCloseBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="postCreateForm" enctype="multipart/form-data" method="post" action="">
                        <div>
                        <label for="postCategory">카테고리</label>
                            <select id="postCategory" name="category" required>
                                <option value="전체공지">전체공지</option>
                                <option value="자유게시판">자유게시판</option>
                                <option value="FAQ">FAQ</option>
                            </select>
                        </div>
                        <div>
                            <label for="postTitle">제목</label>
                            <input type="text" id="postTitle" name="title" required/>
                        </div>
                        <div>
                            <label for="postContent">내용</label>
                            <textarea rows="12" cols="45" id="postContent" name="content" required></textarea>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                         <button type="button" id="postCreateBtn" class="w3-button w3-orange w3-round-large w3-hover-blue">작성하기</button>
                    </div>
                 </div>
            </div>
        </div><!-- 글 남기기 모달 END -->
</div>
<th:block layout:fragment="script">
<!-- Ajax -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>   
<script th:src="@{ /js/notice.js }"></script>
<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

</script>

</th:block>
</body>
</div>
</html>