<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout-1 }">

<div layout:fragment="content" align="center">
<head>
    <meta charset="UTF-8">
    <title>Carrot Nara</title>
    <style>
        #footer{
            clear:both;
        }
    </style>
</head>
<body>
<main class="mainContent">
<div id="header"style="height:140px; border:1px solid gold; margin-bottom: 2%;">

</div>
<!-- left content -->
<aside class="leftContent" style="width: 30%; height:1000px; border:1px solid red; float: left; margin-right: 5%;">
    <div>
        <span></span>
    </div>
</aside><!-- left content end -->
<!-- right content -->
<section class="rightContent" style="width: 65%; height:1000px; float: right; border:1px solid green;">
    
</section><!-- right content end -->
</main>
<th:block layout:fragment="script">
	
</th:block>
</body>
</div>
</html>