<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer" id="footer">
     
        <div class="w3-container w3-dark-grey w3-center" style="padding:32px">
        <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right w3-left"></i>To the top</a>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

        <div class="likeCopyright" style="color: lightgray; font-size: 8px;">
            <a href="https://www.flaticon.com/kr/free-icons/" title="귀엽다 아이콘">귀엽다 아이콘  제작자: Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/kr/free-icons/" title="하트 아이콘">하트 아이콘  제작자: Vitaly Gorbachev - Flaticon</a>
        </div>
        </div>
        
    </div>

</html>