<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout-1 }">

<div layout:fragment="content" align="center">
<head>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <!-- stomp & socket -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="UTF-8">
    <title>Carrot Nara</title>
    
    
</head>
<body>
    <!-- content 시작 -->
    <div class="w3-container" style="border: 1px solid gold;">
        <!-- 내 대화 목록 section -->
        <div class="w3-quarter" style="border: 1px solid green;">
        <!-- 내 상태 -->
        <div id="myInfo" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="myImage" style="border: 1px solid;">
                <span sec:authentication="principal.id"></span>
                <img th:src="..." alt="..."/>
                <span sec:authentication="principal.nickName"></span>
            </div>
        </div><!-- 내상태 끝 -->
        <!-- chat 목록 -->
        <div id="chatHistory" style="margin-bottom: 5px;">
            <table>
                <tbody>
                    <tr>
                        <td style="border: 1px solid pink;" width="20%">
                            <img src="..." alt="..."/>
                        </td>
                        <td style="border: 1px solid blue;" width="80%">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div><!-- 내 대화 목록 section End -->
        
        
        <!-- 현재 대화 section -->
        <div class="w3-rest">
            
        </div><!-- 현재 대화 section End -->
    </div><!-- content End -->
    
    
<th:block layout:fragment="script">
    <script th:src="@{ /js/chat.js }" ></script>
</th:block>
</body>
</div>
</html>