<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout-1 }">

<div layout:fragment="content" align="center">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carrot Nara</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    
        .mySlides {
            display: none;
        }
        .w3-left, .w3-right, .w3-badge {
            cursor: pointer;
            color: lightgray;
        }
        .w3-badge {
            height: 13px;
            width: 13px;
            margin-left: 5px;
            margin-right: 5px;
            padding: 5px;
        }
        
        
    </style>
    
</head>
<body>

<!-- Content -->
<div class="mt-2">
    <div class="rounded" style="border: 1px solid">
        <div style="margin: 10px; border-top: 1px solid silver">
            <div class="container-fluid">
                
                <!-- 이미지 시작 -->
                     <div class="w3-content w3-display-container" style="max-width:600px">
                        <div class="mySlides" th:each="i : ${ postImage }">
                            <img th:src="${ '/img/view/'+ i.fileName }" style="width:100%">
                        </div>
                        <!-- next, prev 버튼, indicator 버튼들 -->
                        <div class="slideBtnsDiv">
                        </div>
                     </div>
                <!-- 이미지 끝 -->
                
                
                
                <!-- 본문 내용 시작 -->
                <div class="post" th:each="p : ${ post }">
                    <div class="middlebar w3-pale-blue">
                        <div class="sellerInfo" style="display: inline-block;">
                            <div style="margin: 10px;">
                                <span th:text ="${ '글쓴이: ' + p.userId }"></span>
                            </div>
                            <div style="margin: 10px; font-size: 4px; color: gray;">
                                <span>ㅇㅇ시 ㅇㅇ동</span>
                            </div>
                        </div>
                        <div class="w3-right" style="margin: 10px; display: inline-block;">
                            <span th:text ="${ p.status }"></span>
                        </div>
                    </div>
                    <div class="postContentInfo">
                        <div style="margin: 10px;">
                            <span th:text ="${ '제목: ' + p.title }"></span>
                        </div>
                        <div style="margin: 10px;">
                            <span th:text ="${ '카테고리: ' + p.category }"></span>
                        </div>
                        <div style="margin: 10px;">
                            <span th:text ="${ '내용: ' + p.content }"></span>
                        </div>
                        <div class="countInfo" style="font-size: 4px; color: gray;">
                            <div style="margin: 2px; display: inline-block;">
                                <span th:text ="${ '채팅 ' + p.chats }"></span>
                            </div>
                            <div style="margin: 2px; display: inline-block;">
                                <span th:text ="${ '관심 ' + p.wishCount }"></span>
                            </div>
                            <div style="margin: 2px; display: inline-block;">
                                <span th:text ="${ '조회 ' + p.hits }"></span>
                            </div>
                        </div>
                        <div style="margin: 10px;">
                            <span th:text ="${ '거래 희망: ' + p.region }"></span>
                        </div>
                    </div>
                    <div class="footBar" style="background-color: lightgray;">
                        <div style="margin: 10px; display: inline-block;">
                            <span th:text ="${ '가격: ' + p.prices }"></span>
                        </div>
                        <div style="margin: 10px; display: inline-block;">
                            <button class="w3-button w3-pale-red w3-round-xlarge">채팅하기</button>
                        </div>
                    </div>
                </div><!-- 본문 내용 끝 -->
            </div>
        
        </div>
    </div>
</div><!-- Content End -->


<th:block layout:fragment="script">
    
    <script>
    var slideIndex = 1;
    var mySlidesItems = document.getElementsByClassName('mySlides');
    indicatorsController();
    // carousel-indicators 컨트롤러
    function indicatorsController(){
        const indicatorsCount = mySlidesItems.length;
        if(indicatorsCount>1) { // 이미지 개수가 1개보다 많을 때만 가운데 버튼과 양쪽 prev, next button 보이게 하기.
        	// next, prev 버튼
        	const slideBtnsDiv = document.querySelector('.slideBtnsDiv');
            let nextPrevBtnStr = '';
            nextPrevBtnStr += '<div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">'
                + '<div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>'
                + '<div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>'
                + '<!-- 아래쪽 버튼 개수 동적으로 변경 -->'
                + '<div class="indicatorsBtnDiv">'
                + '</div>'
                + '</div>';
            	slideBtnsDiv.innerHTML += nextPrevBtnStr;
            // indicators 버튼
        	const indicatorsBtnDiv = document.querySelector('.indicatorsBtnDiv');
            for(let i=0; i < indicatorsCount; i++){
                   const slideBtnStr = `<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(${i+1})"></span>`
                	   indicatorsBtnDiv.innerHTML += slideBtnStr;
            }
            
            // slides script
            showDivs(slideIndex);
            
        } else if(indicatorsCount === 1){ // 이미지 개수가 딱 1개일 때
        	var y = document.getElementsByClassName("mySlides");
        	y[slideIndex-1].style.display = "block";
        }
    }
    
    
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {
    	  slideIndex = 1
      }
      if (n < 1) {
    	  slideIndex = x.length
      }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " w3-white";
    }
    </script>
</th:block>
</body>
</div>
</html>