<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout-1 }">

<div layout:fragment="content" align="center">
<head>
    <meta charset="UTF-8">
    <title>Carrot Nara</title>
    <!-- fontAwesome -->
    <script src="https://kit.fontawesome.com/009f152c56.js" crossorigin="anonymous"></script>
  
    <style>
    .profileContent {
        margin-bottom: 20px;
    }
    .imgUpdateBtn, .pwUpdateBtn {
        display: inline-block;
        width: 28px;
        cursor: pointer;
    }
    .label {
        display: flex;
        text-align: left;
    }
    .form-control {
        flex: 0.6;
    }
    .sourceList {
        margin-top: 200px;
    }
    #pwForm .formLabel {
        text-align: left;
    }
    </style>
    
</head>
<body>
    
    <div class="mainContent" th:each="u : ${ user }">
        <div class="profileContent">
            <img th:src="${ '/img/user/'+ u.id }" style="width: 150px; height: 150px; display: block;">
            <img class="imgUpdateBtn" src="/images/imageEditing.png" onclick="imgUpdate()"
             alt="프로필 수정하기 버튼" title="프로필 수정하기"/>
            <img class="pwUpdateBtn" src="/images/pwChange.png" onclick="pwUpdate()"
             alt="비밀번호 변경하기 버튼" title="비밀번호 변경하기"/>
        </div>
        
        <div class="infoContent">
        <div class="label"><i class="fa-solid fa-pencil"></i>이름</div>
            <input class="form-control" type="text" id="name" name="name" placeholder="이름" th:value="${ u.name }" readOnly/>
        <div class="label"><i class="fa-solid fa-user-tag"></i>닉네임<span class="labelSpan" style="font-size: 22px; color: red;">*</span></div>
            <input class="form-control" type="text" id="nickName" name="nickName" placeholder="사용할 닉네임" th:value="${ u.nickName }" required/>
            <button type="button" class="nickCheckBtn w3-button w3-orange w3-round-large w3-hover-blue">중복 확인</button>
        <div class="label"><i class="fa-solid fa-phone"></i>휴대폰 번호<span class="labelSpan" style="font-size: 22px; color: red;">*</span></div>
            <input class="form-control" type="tel" id="phone" name="phone" placeholder="010-1234-5678" required maxlength="13" th:value="${ u.phone }"/>
        <div class="label" style="margin-right: 18px;"><i class="fa-solid fa-envelope-o"></i>이메일</div>
            <input class="form-control" type="email" id="email" name="email" placeholder="[선택] 비밀번호 분실 시 확인에 이용됩니다." th:value="${ u.email }" />
        <div class="label" style="margin-right: 18px;"><i class="fa-solid fa-location-dot"></i>지역</div>
            <input class="form-control" type="text" id="region" name="region" placeholder="[선택] 자주 이용할 지역"/>
        </div>                  
                    
        
                    
        <button type="button" class="submitBtn w3-button w3-orange w3-round-large w3-hover-blue">수정 완료</button>              
    </div>
    
        <!-- 프로필 수정 모달 -->
        <div class="modal" id ="imageModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                     <div class="modal-header">
                         <i class="fa-solid fa-id-card-clip"></i><h5 class="modal-title">&nbsp;프로필 이미지</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="profileForm" enctype="multipart/form-data" method="post" action="">
                           <input type="file" name="file" id="file"/>
                        </form>
                    </div>
                    <div class="modal-footer">
                         <button type="button" id="" class="w3-button w3-orange w3-round-large w3-hover-blue">변경하기</button>
                    </div>
                 </div>
            </div>
        </div>
        
        <!-- 비밀번호 변경 모달 -->
        <div class="modal" id ="pwModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                     <div class="modal-header">
                          <i class="fa-solid fa-unlock-keyhole"></i><h5 class="modal-title">&nbsp;비밀번호 변경</h5>
                         <button type="button" class="pwCloseBtn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="pwForm" enctype="multipart/form-data" method="post" action="">
                           <div class="formLabel">현재 비밀번호</div>
                           <input type="password" name="nowPassword" id="nowPassword" placeholder="현재 비밀번호" required/>
                           <div class="formLabel">새로운 비밀번호</div>
                           <input class="passwordInput" type="password" id="password" name="password" placeholder="새로운 비밀번호" required/>
                           <div class="formLabel">비밀번호 확인</div>
                           <input class="passwordInput" type="password" id="passwordChk" name="passwordChk" placeholder="비밀번호 확인" required/>
                           <div id="pwAvailable" style="color: green; margin-left: 8px; display: none;">비밀 번호가 일치합니다.</div>
                           <div id="pwUnavailable" style="color: red; margin-left: 8px; display: none;">비밀 번호가 일치하지 않습니다.</div>
                        </form>
                    </div>
                    <div class="modal-footer">
                         <button type="button" id="pwChangeBtn" class="w3-button w3-orange w3-round-large w3-hover-blue" disabled>변경하기</button>
                    </div>
                 </div>
            </div>
        </div>
        
    <div class="sourceList">
        <div class="copyrightLink">
            <a target="_blank" href="https://icons8.com/icon/46498/%EC%9D%B4%EB%AF%B8%EC%A7%80-%ED%8E%B8%EC%A7%91">이미지 편집</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </div>
        <div class="copyrightLink">
            <a target="_blank" href="https://icons8.com/icon/OOZ03zZyUcSR/password">Password</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </div>
    </div>
<th:block layout:fragment="script">
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
	<!-- Ajax -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>    
    <script th:src="@{ /js/myPage.js }"></script>
</th:block>
</body>
</div>
</html>