<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout-1 }">

<div layout:fragment="content" align="left">
<head>
    <meta charset="UTF-8">
    <title>Carrot Nara</title>
    <style>
    /* 
    #card #contentes{
        width: 100%;
        display: inline-block;
    }  */
    
    /* .contents input, .contents textarea {
            width: 100%;
    } */
         
    input:focus::placeholder {
        background-color: w3-brown;
        opacity: 0.4;
    }
    input:focus, input:focus:-webkit-autofill {
        background-color: w3-brown;
        opacity: 0.2;
    }
    textarea:focus, textarea:focus:-webkit-autofill {
        background-color: w3-brown;
        opacity: 0.2;
    }
    
    </style>
</head>
<body>
        <!-- TODO: 색깔 설정/포커싱 되었을 때 색깔 설정 -->
            <div class="w3-container w3-brown" style="margin-bottom: 30px;">
                <h2>등록하기</h2>
            </div>
            <form class="w3-container mb-5" id="formSell" method="post" action="/sell/create">
                <div class="card">
                <div class="contents">
                    <div class="mb-2"style="width:350px;">
                    <label class="w3-text-brown"><b>이미지</b></label>
                    <label class="custom-file-upload" style="cursor: pointer;" for="images"><i class="fa fa-image"></i></label>
                        <div id="explain">
                            <div style="color: maroon; font-size:12px;">
                                * 상품의 이미지 및 상태를 설명할 수 있는 사진을 첨부해주세요. <br/>
                                * 사진은 복수 선택 가능합니다. <br/>
                                * 사진의 크기에 따라서 조정이 될 수도 있습니다.</div>
                        </div>
                    <div style="display:none;"><input type="file" class="w3-input w3-border w3-sand" id="images" name="images[]" multiple/></div>
                    </div>
                    <!-- 선택한 파일이 보여지는 공간 -->
                    <div id="selectedImage"></div>
                </div>
                <div class="contents">
                    <label class="w3-text-brown" for="title"><b>글 제목</b></label>
                    <div><input class="w3-input w3-border w3-hover-shadow w3-sand" id="title" name="title" required/></div>
                </div>
                <div class="contents">
                    <label class="w3-text-brown" for="category"><b>카테고리</b></label>
                    <div><input class="w3-input w3-border w3-hover-shadow w3-sand" id="category" name="category" required/></div>
                </div>
                <div class="contents">
                    <label class="w3-text-brown" for="prices"><span>&#8361;</span></label>
                    <div><input class="w3-input w3-border w3-hover-shadow w3-sand" id="prices" name="prices" oninput="inNumber(event)"
                     placeholder="숫자로만 입력하세요" required/></div>
                </div>
                <div class="contents">
                    <label class="w3-text-brown" for="content"><b>내용</b></label>
                    <div><textarea rows="12" class="w3-input w3-border w3-hover-shadow w3-sand" id="content" name="content" 
                    placeholder="구매자가 상품에 대해 자세히 알 수 있도록 설명해주세요." required></textarea></div>
                </div>
                <div class="contents" id="location">
                    <div style="width:92%; display: inline-block;">
                        <label class="w3-text-brown"><b>지역</b></label>
                        <div><input class="w3-input w3-border w3-hover-shadow w3-sand" id="regionMain" name="regionMain" readonly/></div>
                    </div>
                    <div style="display: inline-block;">
                        <div class="w3-dropdown-hover w3-hide-small"><!-- 주소 api 버튼 -->
                            <a href="javascript:void(0)" class="w3-bar-item w3-button" onclick="serchRegion()"><i class="fa fa-caret-down"></i></a>
                        </div>
                    </div>
                    <div><input style="display:none;" class="w3-input w3-border w3-hover-shadow w3-sand" id="detailRegion" name="detailRegion" placeholder="상세입력하기"/></div>
                </div>
                <div style="margin-top: 30px; margin-bottom: 30px;">
                    <button type="button" class="w3-btn w3-brown" id="btnSubmit">등록 하기</button>
                </div>
                </div>
            </form>
        <!-- <div class="w3-container w3-brown">
            <h2>등록하기</h2>
        </div>
        <form class="w3-container" id="formSell" method="post" action="/sell/create">
            <div class="card" style="width: 68rem;">
                <ul class="sellInfo list-group">
                    <li class="list-group-item">
                        <div class="contents row photo-preview-container"></div>
                        <img src="..." class="img-thumbnail" alt="사진을 등록하세요!" style="max-width: 100%; height: auto;">
                        <div><input type="file" class="w3-input w3-border w3-sand" id="images" name="images[]" multiple/></div>
                    </li>
                    <li class="list-group-item">
                        <div class="contents">글 제목</div>
                        <div><input class="w3-input w3-border w3-hover-shadow w3-sand" id="title" name="title"/></div>
                    </li>
                    <li class="list-group-item">
                        <div class="contents">카테고리</div>
                        <div><input class="w3-input w3-border w3-sand" id="category" name="category"/></div>
                    </li>
                    <li class="list-group-item">
                        <div class="contents">가격</div><span>&#8361;</span>
                        <div><input class="w3-input w3-border w3-sand" id="won" name="won"/></div><span>원</span>
                    </li>
                    <li class="list-group-item">
                        <div class="contents">내용</div>
                        <div><textarea rows="12" class="w3-input w3-border w3-sand" style="width:990px;" id="texts" name="texts"></textarea></div>
                    </li>
                    <li class="list-group-item">
                        <div class="contents">지역</div>
                        <div><input class="w3-input w3-border w3-sand" id="region" name="region" readonly/></div>
                        <button class="moreRegionsBtn w3-padding-large w3-button" title="region"><i class="fa fa-caret-down"></i></button>
                    </li>
                </ul>
                <div style="margin-top: 30px; margin-bottom: 30px;">
                    <input class="w3-button w3-teal w3-round" type="button" id="btnSubmit" value="등록하기"/>
                </div>
            </div>
        </form>
         -->


<script th:src="@{ /js/sell.js }" ></script>
<script th:src="@{ /js/img.js }" ></script>

<!-- 카카오 주소 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</body>
</div>
</html>