<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout-1 }">

<div layout:fragment="content" align="center">
<head>
    <meta charset="UTF-8">
    <title>Carrot Nara</title>
    <script src="https://kit.fontawesome.com/009f152c56.js" crossorigin="anonymous"></script>
    <style>
    .w3-ul li {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .w3-ul li input{
        min-width: 40%;
    }
    .w3-ul li i{
        margin-right: 8px;
    }
    .w3-ul li .label{
        width: 150px;
    }
    .w3-ul li .form-control{
        width: 70px;
    }
    
    
    </style>
</head>
<body>

        <!-- login form -->
        <div class="w3-container">
            <h2>로그인 페이지</h2>
            <form id="formLogin" method="post" action="signin">
            <ul class="w3-ul w3-xlarge">
                <li>
                    <div class="label" style="display: inline-block;"><i class="fa-solid fa-user"></i>아이디</div>
                    <input class="form-control" style="display: inline-block;" type="text" id="username" name="username" placeholder="아이디" required autofocus/>
                </li>
                <li>
                    <div class="label" style="display: inline-block;"><i class="fa-solid fa-lock"></i>비밀번호</div>
                    <input class="form-control" style="display: inline-block;" type="password" id="password" name="password" placeholder="비밀번호" required/>
                </li>
                <li>
                    <button type="submit" class="w3-btn submit" id="submitBtn">로그인</button>
                </li>
                <li>
                    <input name="${_csrf.parameterName}" type="hidden"
                                value="${_csrf.token}" />
                </li>
            </ul>
            </form>
        </div> <!-- login form end -->

    <div>
        <a style="margin-right: 10px;" th:href="@{ /user/signup }">회원 가입</a><a href="#">로그인에 문제가 있어요</a>
    </div>

    <th:block layout:fragment="script">
    </th:block>
</body>
</div>
</html>