<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout-1 }">

<div layout:fragment="content" align="left">
<head>
    <meta charset="UTF-8">
    <title>Carrot Nara</title>
    <style>
    /* 
    #card #contentes{
        width: 100%;
        display: inline-block;
    }  */
    
    /* .contents input, .contents textarea {
            width: 100%;
    } */
         
    input:focus::placeholder {
        background-color: w3-brown;
        opacity: 0.4; /* 입력란의 투명도 설정 */
    }
    input:focus, input:focus:-webkit-autofill {
        background-color: w3-brown;
        opacity: 0.2;
    }
    textarea:focus, textarea:focus:-webkit-autofill {
        background-color: w3-brown;
        opacity: 0.2;
    }
    .pricesAndStatus {
        position: relative;
    }
    .pricesInput {
        display: inline-block;
        width: 85%;
    }
    .statusInput {
        text-align: center; 
        width: 14%; 
        cursor: pointer;
        transition: transform 0.5s;
    }
    .statusInput:hover {
        transform: scale(1.1);
    }
    .statusInput:focus {
        opacity: 0.8;
    }
    .statusIcon {
        position: absolute;
        right: 0;
        top: 50%; /* 수직 중앙 정렬 */
        transform: translateY(-50%); /* 수직 중앙 조정 */
    }
    
    </style>
</head>
<body>
        <!-- TODO: 색깔 설정/포커싱 되었을 때 색깔 설정 -->
            <div class="w3-container w3-brown" style="margin-bottom: 30px;">
                <h2>수정하기</h2>
            </div>
            <form class="w3-container mb-5" id="formModify" method="post" action="">
                <div class="card">
                <div class="imgContent" id="imgs">
                    <div class="mb-2"style="width:350px;">
                    <label class="w3-text-brown" for="img"><b>이미지</b></label>
                    <!--<a href="javascript:void(0)" class="w3-bar-item" onclick="img()"><i class="fa fa-image"></i></a>-->
                    <label class="custom-file-upload" style="cursor: pointer;" for="images"><i class="fa fa-image"></i></label>
                        <div id="explain" style="display: none;">
                            <div style="color: maroon; font-size:12px;">
                                * 상품의 이미지 및 상태를 설명할 수 있는 사진을 첨부해주세요. <br/>
                                * 사진은 복수 선택 가능합니다. <br/>
                                * 사진은 JPEG, JPG, PNG, JFIF 타입만 가능합니다. <br/>
                                * 사진의 크기에 따라서 조정이 될 수도 있습니다. <br/>
                                &nbsp;&nbsp;&nbsp;(최대 크기 제한 : 10MB)</div>
                        </div>
                    <div><input type="file" style="display: none;" class="w3-input w3-border w3-sand" id="images" name="images" multiple/></div>
                    </div>
                    <!-- 선택한 파일이 보여지는 공간 -->
                    <div id="selectedImage">
                          <div class="card" style="display:inline-block;" th:each="i : ${ postImage }">
                              <div class="card-header">
                                    <button type="button" th:data-imgSrc="${ i.fileName }" class="btnDelete btn-close" aria-label="Close"></button>
                                    <div style="display:inline-block;" th:text="${i.originFileName}"></div>
                              </div>
                              <div class="card-body">
                                    <img th:src="${ '/img/view/' + i.fileName}" th:data-src="${i.fileName}" width="150" height="150"/>
                              </div>
                          </div>
                    </div>
                </div><!-- imgContent End  -->
                <div class="postContent" th:each="p : ${ post }">
                <div class="contents">
                    <label class="w3-text-brown" for="title"><b>글 제목</b></label>
                    <div><input class="w3-input w3-border w3-hover-shadow w3-sand" id="title" name="title" th:value="${ p.title }" required/></div>
                </div>
                <div class="contents">
                    <label class="w3-text-brown" for="category"><b>카테고리</b></label>
                    <div><input class="w3-input w3-border w3-hover-shadow w3-sand" id="category" name="category" th:value="${ p.category }"  required/></div>
                </div>
                <div class="contents">
                    <label class="w3-text-brown" for="prices"><span>&#8361;</span></label>
                    <div class="pricesAndStatus"><input class="pricesInput w3-input w3-border w3-hover-shadow w3-sand" id="prices" name="prices" oninput="inNumber(event)"
                     placeholder="숫자로만 입력하세요" th:value="${ p.prices }" required/>
                        <input class="statusInput w3-input w3-border w3-hover-shadow w3-sand w3-right" th:value="${ p.status }" id="status" name="status" readOnly/>
                        <i class="statusIcon fa fa-caret-down"></i>
                    </div>
                </div>
                <div class="contents">
                    <label class="w3-text-brown" for="content"><b>내용</b></label>
                    <div><textarea rows="12" class="w3-input w3-border w3-hover-shadow w3-sand" id="content" name="content" 
                    placeholder="구매자가 상품에 대해 자세히 알 수 있도록 설명해주세요." th:text="${ p.content }" required></textarea></div>
                </div>
                <div class="contents" id="location">
                    <div style="width:92%; display: inline-block;">
                        <label class="w3-text-brown"><b>지역</b></label>
                        <div><input class="w3-input w3-border w3-hover-shadow w3-sand" id="regionMain" name="regionMain" th:value="${ regionMain }" readonly/></div>
                    </div>
                    <div style="display: inline-block;">
                        <div class="w3-dropdown-hover w3-hide-small"><!-- 주소 api 버튼 -->
                            <a href="javascript:void(0)" class="w3-bar-item w3-button" onclick="serchRegion()"><i class="fa fa-caret-down"></i></a>
                        </div>
                    </div>
                    <div><input th:style="${ detailRegion != null } ? '' : 'display: none;'" class="w3-input w3-border w3-hover-shadow w3-sand" id="detailRegion" 
                    name="detailRegion" placeholder="상세입력하기" th:value="${ detailRegion }"/></div>
                </div>
                <div style="margin-top: 30px; margin-bottom: 30px;">
                    <button type="button" class="w3-btn w3-brown" id="btnUpdate">수정 하기</button>
                    <button type="button" class="w3-btn w3-brown" id="btnDelete">삭제 하기</button>
                    <input type="hidden" id="id" name="id" th:value="${ p.id }"/>
                </div>
                </div><!-- postContent End -->
                </div><!-- card End -->
            </form>

<th:block layout:fragment="script">
    <!-- Ajax -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{ /js/imgModify.js }" ></script>
    <script th:src="@{ /js/modify.js }" ></script>
    
    
    <!-- 카카오 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</th:block>


</body>
</div>
</html>